﻿<div id="body">
    <button id="post-value">Post Value</button>
    <input id="value-to-post" type="text"/>
    <div id="result"></div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('#post-value').click(function() {
                $.ajax({
                    type: 'POST',
                    url: '/api/values',
                    //data: { value: $('#value-to-post').val(), value2:'value2' }
                }).done(function (data) {
                    $('#result').html(data);
                });
            });
        });
    </script>
}
